soap-module/src/main/resources/converter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.soap-app.com/"
           targetNamespace="http://www.soap-app.com/" elementFormDefault="qualified">

    <xs:element name="сonvertedXmlRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sourceXmlText" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="сonvertedXmlResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="convertedXmlText" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
